.no-products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    padding-top: 40px;
}

.failureHeading{
    text-align: center;
    font-size: 25px;
}

.no-products-image{
    width: 20%;
}

.failureButton{
    height: 35px;
    width: 120px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #000;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
}

@media screen and (max-width: 768px){
    .no-products-image{
        width: 70%;
    }.no-products-container{
        min-height: 100vh;
        padding-top: 0px;

    }.failureHeading{
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1100px){
    .no-products-image{
        width: 60%;
    }.no-products-container{
        height: 80vh;
    }.failureHeading{
        font-size: 35px;
    }
}

.failureButton:hover{
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}