.removeFavContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.removeFavButton{
    background-color: transparent;
    border: none;
    outline: none;
}

