.home-container{
    padding-top: 140px;
    padding-bottom: 20px;
    min-height: 100vh;
}


.products-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){
    .home-container{
        padding-top: 60px;
        padding-bottom: 70px;
    }.products-container{
        padding: 0px;
    }
}

.dark{
    background-color: #aec3f1;
}

.light{
    background-color: #fff;
}