.home-container {
    padding-top: 30px;
    padding-bottom: 20px;
    min-height: 100vh;
}


.products-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .home-container {
        padding: 0 0 70px 0;
        box-sizing: border-box;
    }

    .products-container {
        padding: 0px;
        margin: 0px;
        padding-top: 20px;
        width: 100%;
    }
}

.dark {
    background-color: #aec3f1;
}

.light {
    background-color: #fff;
}

.no-products-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.no-products-view {
    padding: 10px;
}


.no-products-img {
    width: 20%;
}

@media screen and (max-width: 768px) {
    .no-products-img {
        width: 60%;
    }

    .no-products-view {
        height: 50vh;
    }
}

.no-products-heading {
    font-size: 25px;
    font-family: "Roboto";
}

.no-products-description {
    font-size: 15px;
    font-family: "Roboto";
}

@media (min-width: 768px) and (max-width: 1100px) {
    .no-products-view {
        height: 50vh;
    }

    .no-products-img {
        width: 40%;
    }

    .no-products-heading {
        font-size: 30px;
    }

    .no-products-description {
        font-size: 20px;
    }
}


.restaurantNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.angleIcon {
    background-color: transparent;
    border: 1px solid #000;
    margin: 10px;
    font-family: "Roboto";
    color: #334155;
    padding: 1px;
    cursor: pointer;
}

.pageNum {
    color: #334155;
    font-size: 14px;
    font-family: "Bree Serif";
}