.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-left: 20px;
  }
  
  @media screen and (min-width: 768px) {
    .products-header {
      margin-top: 30px;
      width: 100%;
    }
  }
  
  .products-list-heading {
    color: #475569;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
  }
  
  @media screen and (min-width: 768px) {
    .products-list-heading {
      font-size: 25px;
    }
  }
  
  .sort-by-container {
    display: flex;
    align-items: center;
    padding-right: 40px;
  }

  @media screen and (min-width: 768px) {
    .sort-by-container{
        padding-right: 40px;
    }
  }
  
  .sort-by-icon {
    font-size: 24px;
    color: #475569;
    margin-right: 6px;
  }

  
  .sort-by-select {
    color: #6a6a6b;
    background-color: transparent   ;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    border: none;
    padding: 12px;
    outline: none;
    cursor: pointer;
  }
  
  .select-option {
    color: #7e858e;
    font-family: 'Roboto';
    font-size: 14px;
  }

  .priceFilter-container{
    display: flex;
    align-items: center;
    margin-right: 40px;
  }

@media screen and (max-width: 767px) {
  .price-range-filter{
    font-size: 13px;
    width: 55%;
  }.select-option{
    font-size: 12px;
  }.sort-by-select{
    font-size: 12px;
    width: 100%;
  }.products-list-heading{
    font-size: 15px;
  }.priceFilter-container{
    margin-right: 10px;
  }
}