.categoryItem {
    list-style: none;
    margin-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.categoryImage{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

@media screen and (max-width: 768px) {
    .categoryImage{
        width: 60px;
        height: 60px;
    }
}


.categoryName {
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 500;
    width: 100%;
}

@media screen and (max-width: 768px){
    .categoryName{
        font-size: 12px;
    }
}
